{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}SeatPlan{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
	<header>
		<nav>
			<a href="{% url 'index' %}">SeatPlan - рассадка в опенспейсе</a>
			<a href="{% url 'employee_list' %}">Сотрудники</a>
			{% if user.is_authenticated %}
                <a href="{% url 'employee_add' %}">Добавить сотрудника</a>
			{% endif %}
			{% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}" class="logout-form">
                    {% csrf_token %}
                    <button type="submit">Выйти ({{ user.username }})</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Войти</a>
            {% endif %}
		</nav>
	</header>
	<main>{% block content %}{% endblock %}</main>
	<footer><p>Учебный проект SeatPlan: сотрудники, навыки, рабочие места.</p></footer>
</body>
</html>