{% extends 'base.html' %}

{% block title %} {{ exployee.last_name }} {{ exployee.first_name }} {% endblock %}

{% block content %}

	<h1>{{ exployee.last_name }} {{ exployee.first_name }}</h1>
	<p> Пол: {{ employee.get_gender_display }} · Роль: {{ employee.get_role_display }} </p>
	<p> Стаж: {{ employee.tenure_days }} дн. </p>

	<h2> Описание </h2>
	<div> {{ employee.discription|safe }} </div>
	<h2>Навыки</h2>
	<ul>
		{% for employee_skill in employee.employeeskill_set.all %}
			<li> {{ employee_skill.skill.name }} - {{ employee_skill.level }}/10 </li>
		{% empty %}
			<li> Навыки не указаны </li>
		{% endfor %}
	</ul>>

	<h2> Фотографии </h2>
	<div class="cards">
        {% for photo in employee.photos.all %}
            <div class="card">
                {% if photo.image %}   <!-- ЗАЧЕМ: запись без файла не уронит страницу -->
                    <img src="{{ photo.image.url }}" alt="Фото: {{ employee.first_name }}" width="200">
                {% endif %}
                <p>Порядок: {{ photo.order }}</p>
            </div>
        {% empty %}
            <p>Фотографий нет</p>
        {% endfor %}
	</div>

	<p> <a href="{% url 'employee_list' %}"></a> ← К списку </p>
{% endblock %}




