{% extends 'base.html' %}

{% block title %} Сотрудники {% endblock %}

{% block content %}

	<h1>Сотрудники</h1>
	<div class="cards">
		{% for employee in employees %}
			{% include 'employees/employee_card.html' %}
		{% empty %}
			<p>Список пуст</p>
		{% endfor %}

		    {% if is_paginated %}
        <nav class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">← Назад</a>
            {% endif %}
            <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Вперёд →</a>
            {% endif %}
        </nav>
    {% endif %}

	</div>
{% endblock %}












